**复习：**在前面我们已经学习了Pandas基础，第二章我们开始进入数据分析的业务部分，在第二章第一节的内容中，我们学习了**数据的清洗**，这一部分十分重要，只有数据变得相对干净，我们之后对数据的分析才可以更有力。而这一节，我们要做的是数据重构，数据重构依旧属于数据理解（准备）的范围。

#### 开始之前，导入numpy、pandas包和数据

In [2]:
# 导入基本库
import  numpy as np
import  pandas as pd

In [3]:
# 载入data文件中的:train-left-up.csv
tlu=pd.read_csv('data/train-left-up.csv')

# 2 第二章：数据重构

### 2.4 数据的合并

#### 2.4.1 任务一：将data文件夹里面的所有数据都载入，观察数据的之间的关系

In [10]:
#写入代码
import  os
os.listdir('data')

['.DS_Store',
 'train-left-up.csv',
 'train-right-up.csv',
 'train-right-down.csv',
 'train-left-down.csv']

In [11]:
#写入代码
text_left_up = pd.read_csv("data/train-left-up.csv")
text_left_down = pd.read_csv("data/train-left-down.csv")
text_right_up = pd.read_csv("data/train-right-up.csv")
text_right_down = pd.read_csv("data/train-right-down.csv")

【提示】结合之前我们加载的train.csv数据，大致预测一下上面的数据是什么

#### 2.4.2：任务二：使用concat方法：将数据train-left-up.csv和train-right-up.csv横向合并为一张表，并保存这张表为result_up

In [12]:
#写入代码
reslut_up=pd.concat([text_left_up,text_right_up],axis=1)
reslut_up.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#### 2.4.3 任务三：使用concat方法：将train-left-down和train-right-down横向合并为一张表，并保存这张表为result_down。然后将上边的result_up和result_down纵向合并为result。

In [13]:
#写入代码
reslut_down=pd.concat([text_left_down,text_right_down],axis=1)
reslut_down.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [14]:
reslut=pd.concat([reslut_up,reslut_down],axis=0)

#### 2.4.4 任务四：使用DataFrame自带的方法join方法和append：完成任务二和任务三的任务

In [15]:
#写入代码
reslut_up=text_left_up.join(text_right_up)
reslut_down=text_left_down.join(text_right_down)
reslut=reslut_up.append(reslut_down)

/var/folders/q7/clhz60qx71g5zl4d_1tb09bm0000gn/T/ipykernel_22316/4172797030.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  reslut=reslut_up.append(reslut_down)

#### 2.4.5 任务五：使用Panads的merge方法和DataFrame的append方法：完成任务二和任务三的任务

In [17]:
#写入代码
reslut_up=pd.merge(text_left_up,text_right_up,left_index=True,right_index=True)
reslut_up.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [18]:
reslut_down=pd.merge(text_left_down,text_right_down,left_index=True,right_index=True)
reslut=reslut_up.append(reslut_down)

/var/folders/q7/clhz60qx71g5zl4d_1tb09bm0000gn/T/ipykernel_22316/2936141459.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  reslut=reslut_up.append(reslut_down)

【思考】对比merge、join以及concat的方法的不同以及相同。思考一下在任务四和任务五的情况下，为什么都要求使用DataFrame的append方法，如何只要求使用merge或者join可不可以完成任务四和任务五呢？

#### 2.4.6 任务六：完成的数据保存为result.csv

In [19]:
#写入代码
reslut.to_csv('reslut.csv')

### 2.5 换一种角度看数据

#### 2.5.1 任务一：将我们的数据变为Series类型的数据

In [22]:
#写入代码
text=pd.read_csv('reslut.csv')
unit_reslut=text.stack()
unit_reslut.head(10)

0  Unnamed: 0                           0
   PassengerId                          1
   Survived                             0
   Pclass                               3
   Name           Braund, Mr. Owen Harris
   Sex                               male
   Age                               22.0
   SibSp                                1
   Parch                                0
   Ticket                       A/5 21171
dtype: object

In [23]:
#写入代码

unit_reslut.to_csv('unit_reslut.csv')