**复习：**在前面我们已经学习了Pandas基础，第二章我们开始进入数据分析的业务部分，在第二章第一节的内容中，我们学习了**数据的清洗**，这一部分十分重要，只有数据变得相对干净，我们之后对数据的分析才可以更有力。而这一节，我们要做的是数据重构，数据重构依旧属于数据理解（准备）的范围。

#### 开始之前，导入numpy、pandas包和数据

In [1]:
# 导入基本库
import numpy as np
import pandas as pd

In [2]:
# 载入上一个任务人保存的文件中:result.csv，并查看这个文件
df=pd.read_csv('reslut.csv')

# 2 第二章：数据重构

## 第一部分：数据聚合与运算

### 2.6 数据运用

#### 2.6.1 任务一：通过教材《Python for Data Analysis》P303、Google or anything来学习了解GroupBy机制

In [3]:
#写入心得
df.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#### 2.4.2：任务二：计算泰坦尼克号男性与女性的平均票价

In [20]:
# 写入代码
sex_mean=df['Fare'].groupby(df['Sex']).mean()

在了解GroupBy机制之后，运用这个机制完成一系列的操作，来达到我们的目的。

下面通过几个任务来熟悉GroupBy机制。

#### 2.4.3：任务三：统计泰坦尼克号中男女的存活人数

In [21]:
# 写入代码
sex_survived=df['Survived'].groupby(df['Sex']).sum()

#### 2.4.4：任务四：计算客舱不同等级的存活人数

In [10]:
# 写入代码
df['Survived'].groupby(df['Pclass']).sum()

Pclass
1    136
2     87
3    119
Name: Survived, dtype: int64

【**提示：**】表中的存活那一栏，可以发现如果还活着记为1，死亡记为0

【**思考**】从数据分析的角度，上面的统计结果可以得出那些结论

In [9]:
#思考心得 
#女性生存数量高，高级别客舱生存数量高

【思考】从任务二到任务三中，这些运算可以通过agg()函数来同时计算。并且可以使用rename函数修改列名。你可以按照提示写出这个过程吗？

In [17]:
#思考心得
df.groupby(['Sex']).agg({'Fare':'mean','Survived':'sum'}).rename(columns={'Fare':'Fare_mean','Survived':'Survived_sum'})

        Fare_mean  Survived_sum
Sex
female  44.479818           233
male    25.523893           109

#### 2.4.5：任务五：统计在不同等级的票中的不同年龄的船票花费的平均值

In [19]:
# 写入代码
df.groupby(['Pclass','Age'])['Fare'].mean().head()

Pclass  Age
1       0.92     151.5500
        2.00     151.5500
        4.00      81.8583
        11.00    120.0000
        14.00    120.0000
Name: Fare, dtype: float64

#### 2.4.6：任务六：将任务二和任务三的数据合并，并保存到sex_fare_survived.csv

In [23]:
# 写入代码
sex_fare_survived=pd.merge(sex_mean,sex_survived,right_index=True,left_index=True)
sex_fare_survived

             Fare  Survived
Sex
female  44.479818       233
male    25.523893       109

#### 2.4.7：任务七：得出不同年龄的总的存活人数，然后找出存活人数最多的年龄段，最后计算存活人数最高的存活率（存活人数/总人数）

In [35]:
# 写入代码
a=df.groupby(['Age'])['Survived'].sum()
a

Age
0.42     1
0.67     1
0.75     2
0.83     2
0.92     1
        ..
70.00    0
70.50    0
71.00    0
74.00    0
80.00    1
Name: Survived, Length: 88, dtype: int64

In [48]:
a.sort_values(ascending=False)

Age
24.0    15
36.0    11
35.0    11
22.0    11
27.0    11
        ..
20.5     0
23.5     0
24.5     0
28.5     0
40.5     0
Name: Survived, Length: 88, dtype: int64

In [41]:
b=df.groupby(['Age'])['Survived'].count()
b.sort_values(ascending=False)

Age
24.00    30
22.00    27
18.00    26
30.00    25
28.00    25
         ..
20.50     1
14.50     1
12.00     1
0.92      1
80.00     1
Name: Survived, Length: 88, dtype: int64

In [47]:
# 写入代码
a=a.sort_values(ascending=False)

In [34]:
# 写入代码
df['Survived'].count()

891

In [49]:
# 写入代码
ratio=a[24]/b[24]

In [50]:
ratio

0.5

In [51]:
c=pd.merge(df.groupby(['Age'])['Survived'].sum(),df.groupby(['Age'])['Survived'].count(),left_index=True,right_index=True)

In [54]:
c=c.rename(columns={'Survived_x':'survived','Survived_y':'count'})

In [55]:
c

       survived  count
Age
0.42          1      1
0.67          1      1
0.75          2      2
0.83          2      2
0.92          1      1
...         ...    ...
70.00         0      2
70.50         0      1
71.00         0      2
74.00         0      1
80.00         1      1

[88 rows x 2 columns]

In [56]:
c['ratio']=c['survived']/c['count']

In [57]:
c

       survived  count  ratio
Age
0.42          1      1    1.0
0.67          1      1    1.0
0.75          2      2    1.0
0.83          2      2    1.0
0.92          1      1    1.0
...         ...    ...    ...
70.00         0      2    0.0
70.50         0      1    0.0
71.00         0      2    0.0
74.00         0      1    0.0
80.00         1      1    1.0

[88 rows x 3 columns]

In [59]:
c.sort_values(by='survived',ascending=False)

      survived  count     ratio
Age
24.0        15     30  0.500000
22.0        11     27  0.407407
27.0        11     18  0.611111
36.0        11     22  0.500000
35.0        11     18  0.611111
...        ...    ...       ...
20.5         0      1  0.000000
23.5         0      1  0.000000
24.5         0      1  0.000000
28.5         0      2  0.000000
40.5         0      2  0.000000

[88 rows x 3 columns]